* {
  box-sizing: border-box;
}

.box {
  width: 33%;
  border: 1px solid black;
  background-color: red;
  height: 200px;
  float: left;
}

section {
  background-color: blue;
  padding: 20px;
  overflow: auto;
  zoom: 1;
}
